body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fondo{
  color: white;
  padding: 0;
  margin-bottom: 0;
  text-align: center;
}
.fondo_h1{
  margin:0;
}
.grid-container{
  margin-top: 0;
  display: grid;
  grid-template-areas: 'menu' 'busqueda'  'main' 'footer';
}  
.alumno_ini{
  width: 100%;
  height:100%;
}
.propietario_ini{
  width: 100%;
  height: 100%;
}
.active {
  color: darkgreen;
  }
.alinea_centro{
  text-align: center;
}
.filtroderecha{
  display: flex;
  flex-direction: row;
    
}
.filtrosubir{
  margin-top: 0%;
}
  
 
